
<div class="orderForm">
    <form action="#" method="post" id="FormOrder">
        <div class="checkout-single-wrapper">
            <div class="checkout-single boxshado-single">
                <h4>Детали заказа</h4>
                <div class="">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="input-single">
                                <div>Фамилия*</div>
                                <input type="text" name="user-first-name" id="userFirstName" required
                                       placeholder="Фамилия">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-single">
                                <div>Имя*</div>
                                <input type="text" name="user-last-name" id="userLastName" required
                                       placeholder="Имя">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-single">
                                <div>Отчество</div>
                                <input name="company-name" id="companyname" placeholder="Отчество">
                            </div> 
                        </div>
                        <div class="col-lg-12">
                            <div class="input-single">
                                <div>Адрес*</div>
                                <input name="user-address" id="userAddress"
                                       placeholder="Адрес" required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-single">
                                <div>Город*</div>
                                <input name="user-address" id="userAddress2"
                                       placeholder="Город" required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-single">
                                <div>Номер телефона*</div>
                                <input name="phone" id="phone" placeholder="Номер телефона" required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-single">
                                <div>Email адрес*</div>
                                <input name="email" id="email22" placeholder="mail" required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-single">
                                <span>Комментарии</span>
                                <textarea name="notes" id="notes"
                                          placeholder="Комментарии."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="theme-btn" type="button" onclick="freezOrder()" style="min-width: 200px; margin-bottom: 10px;">Подтвердить</button>
        <button href="#" class="theme-btn" onclick="cancelOrder()" style="min-width: 200px;">Отменить</button>
    </form>
</div>