<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YakovleKursovayaASP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/YakovleKursovayaASP.styles.css" asp-append-version="true" />
    <title>Чтиво</title>
    <!--<< Favcion >>-->
    <link rel="shortcut icon" href="img/favicon.png">
    <!--<< Bootstrap min.css >>-->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!--<< All Min Css >>-->
    <link rel="stylesheet" href="~/css/all.min.css">
    <!--<< Animate.css >>-->
    <link rel="stylesheet" href="~/css/animate.css">
    <!--<< Magnific Popup.css >>-->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!--<< MeanMenu.css >>-->
    <link rel="stylesheet" href="~/css/meanmenu.css">
    <!--<< Swiper Bundle.css >>-->
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css">
    <!--<< Nice Select.css >>-->
    <link rel="stylesheet" href="~/css/nice-select.css">
    <!--<< Icomoon.css >>-->
    <link rel="stylesheet" href="~/css/icomoon.css">
    <!--<< Main.css >>-->
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    @* <!-- Back To Top start -->
    <button id="back-top" class="back-to-top">
    <i class="fa-solid fa-chevron-up"></i>
    </button>
    <div class="header-top-1">
    <div class="container">
    <div class="header-top-wrapper">
    <ul class="contact-list">
    <li>
    <i class="fa-regular fa-phone"></i>
    <a href="tel:+20866660112">+208-6666-0112</a>
    </li>
    <li>
    <i class="far fa-envelope"></i>
    <a href="mailto:info@example.com">info@example.com</a>
    </li>
    <li>
    <i class="far fa-clock"></i>
    <span>Sunday - Fri: 9 aM - 6 pM</span>
    </li>
    </ul>
    <ul class="list">
    <li><i class="fa-light fa-comments"></i><a href="contact.html">Live Chat</a></li>
    <li>
    <i class="fa-light fa-user"></i>
    <button data-bs-toggle="modal" data-bs-target="#loginModal">
    Login
    </button>
    </li>
    </ul>
    </div>
    </div>
    </div> *@

    <!-- Sticky Header Section start  -->
    <header class="header-1 sticky-header">
        <div class="mega-menu-wrapper">
            <div class="header-main">
                <div class="container">
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-10 col-xl-8 col-xxl-6">
                            <div class="header-left">
                                <div class="logo">
                                    <a href="@Url.Action("Index", "Home")" class="header-logo" style="width: 100px; display: block;">
                                        <img src="~/img/logo/book-logo.png" alt="logo-img" style="width: 100%">
                                    </a>
                                </div>
                                <div class="mean__menu-wrapper">
                                    <div class="main-menu">
                                        @*                                         <nav>
                                            <ul>
                                                <li>
                                                    <a href="index.html">
                                                        Товары
                                                    </a>                                                 
                                                </li>                                              
                                            </ul>
                                        </nav> *@
                                        <h1>Книжный магазин</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-2 col-xl-4 col-xxl-6">
                            <div class="header-right">
                                <div class="menu-cart">
                                    <a href="@Url.Action("Index", "Cart")" class="cart-icon">
                                        <span>
                                            0
                                        </span>
                                        <i class="fa-regular fa-cart-shopping"></i>
                                    </a>
                                </div>
                                <ul class="list" style="padding: 10px;">
                                    <li>
                                        <i class="fa-light fa-user"></i>
                                        <button data-bs-toggle="modal" data-bs-target="#loginModal">
                                            Login
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        @* <div class="container">
        &copy; 2025 - YakovleKursovayaASP - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div> *@
    </footer>
    <!--<< All JS Plugins >>-->
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <!--<< Viewport Js >>-->
    <script src="~/js/viewport.jquery.js"></script>
    <!--<< Bootstrap Js >>-->
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <!--<< Nice Select Js >>-->
    <script src="~/js/jquery.nice-select.min.js"></script>
    <!--<< Waypoints Js >>-->
    <script src="~/js/jquery.waypoints.js"></script>
    <!--<< Counterup Js >>-->
    <script src="~/js/jquery.counterup.min.js"></script>
    <!--<< Swiper Slider Js >>-->
    <script src="~/js/swiper-bundle.min.js"></script>
    <!--<< MeanMenu Js >>-->
    <script src="~/js/jquery.meanmenu.min.js"></script>
    <!--<< Magnific Popup Js >>-->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <!--<< Wow Animation Js >>-->
    <script src="~/js/wow.min.js"></script>
    <!-- Gsap -->
    <script src="~/js/gsap.min.js"></script>
    <!--<< Main.js >>-->
    <script src="~/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
