@using System.ComponentModel.DataAnnotations
@using System.Reflection
@model Product

@{
    PropertyInfo[] props = typeof(Product).GetProperties();
} 

<div class="shop-details-wrapper">
                <div class="row g-4">
                    <div class="col-lg-5">
                        <div class="shop-details-image">
                            <div class="tab-content">
                                <div id="thumb1" class="tab-pane fade show active">
                                    <div class="shop-details-thumb">
                            <img src="~/img/Books/@Model.Photo" alt="img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="shop-details-content">
                            <div class="title-wrapper">
                    <h2>@Model.Name</h2>
                            </div>
                            <div class="price-list">
                                <h3>@Model.Price Р</h3>
                            </div>
                            <div class="cart-wrapper">
                                <div class="quantity-basket">
                                    <p class="qty">
                                        <button class="qtyminus" aria-hidden="true">−</button>
                                        <input type="number" name="qty" id="qty2" min="1" max="10" step="1" value="1">
                                        <button class="qtyplus" aria-hidden="true">+</button>
                                    </p>
                                </div> 
                                <a href="shop-details.html" class="theme-btn"><i
                                        class="fa-solid fa-basket-shopping"></i> Добавить в корзину</a>
                            </div>
                            <div class="category-box">
                                <div class="category-list">
                                    <ul>
                            @foreach (var prop in props)
                            {
                                @if (prop.Name == "Id" || prop.Name == "Photo")
                                    continue;
                                <li>
                                    @{
                                        var displayAttr = prop.GetCustomAttributes(typeof(DisplayAttribute), false)
                                            .FirstOrDefault() as DisplayAttribute;
                                        string displayName = displayAttr?.Name ?? prop.Name;
                                        var value = prop.GetValue(Model);
                                    }

                                    @if (value != null)
                                    {

                                        <span>@displayName:</span> <span>@value</span>
                                    }
                                    
                                </li>
                            }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>